################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/setup/setup/bin/Debug
/setup/setup/obj/x86/Debug
/setup/.vs/setup/v16
